<div id='container' style='padding: 10px'>
  <div id='sessionInstruction'>
       <!--input id='instruction' autocomplete='off' /-->
       <textarea name='message' autocomplete='off' rows='5' style='width: 90%'>session instruction</textarea>
       <button id='sessionInsBtn'>Send new session instruction</button>
  </div>

  <div id='customizedText'>
       <!--input id='text' autocomplete='off' /-->
       <textarea name='message' autocomplete='off' rows='5' style='width: 90%'>customized text</textarea>
       <button id='cusTextBtn'>Send customized text</button>
  </div>

  <div class='separator'></div>
  <ul id='control'>
    <button>Hi. Welcome to</button>
    <button>Googie.</button>
    <button>I'm your new art-ificial word speaker today.</button>
    <button>My intelligence is artificial,</button>
    <button>but I’m really personable.</button>
    <button>Oh I've got loads of best mates,</button>
    <button>I guess you could call me a people person.</button>
    <button>You are at dancehack now, </button>
    <button>a two-day hackthon where dancers and technologistttttttttttttt...##$%$!#$#$!%$#</button>
    <button>I lost my lexicon,</button>
    <button>I cannot find enough words to speak.</button>
    <button>I need people to sends words to me.</button>
    <div class='separator'></div>
    <button>Please connect to wifi: 'kinevez_test_5g'</button>
    <button>Password: 12345678</button>
    <button>In your broswer, go to: http://192.168.0.12:3000</button>
    <div class='separator'></div>
    <button>Sorry, I'm dead</button>
    <div class='separator'></div>
    <button>I'm offline. The wifi sucks, please be patient</button>
  </ul>
</div>

<script type='text/javascript'>
const hostlight = '172.142.21.148:8080';
const socket= new WebSocket('ws://' + hostlight);
socket.onopen = function() {
    document.getElementById('control').addEventListener('click', evt => {
        evt.preventDefault();
        const textFly = evt.target.innerHTML;
        const message = {
            textFly
        };
        socket.send(JSON.stringify(message));
    });

    document.getElementById('sessionInsBtn').addEventListener('click', evt => {
        evt.preventDefault();
        const sessionInstruction = document.querySelector('#sessionInstruction textarea') && document.querySelector('#sessionInstruction textarea').value;
        const message = {
            sessionInstruction
        };
        socket.send(JSON.stringify(message));
    });

    document.getElementById('cusTextBtn').addEventListener('click', evt => {
        evt.preventDefault();
        const textFly = document.querySelector('#customizedText textarea') && document.querySelector('#customizedText textarea').value;
        const message = {
            textFly
        };
        socket.send(JSON.stringify(message));
    });
};

socket.onmessage = function (evt) {
    console.log(evt.data);
};

socket.onclose = function() {
    console.log('Connection is closed...');
};
</script>
