<div id='container' class='admin' style='padding: 10px'>
  <div id='sessionInstruction' class='adminCommand'>
       <!--input id='instruction' autocomplete='off' /-->
       <textarea name='message' autocomplete='off' rows='5' style='width: 90%'>session instruction</textarea>
       <p>Session 2: Now give me a short sentence</p>
       <p>Session 2: Now give me a short sentence</p>
       <button id='sessionInsBtn'>Send session instruct</button>
  </div>
  <div id='customizedText' class='adminCommand'>
       <!--input id='text' autocomplete='off' /-->
       <textarea name='message' autocomplete='off' rows='5' style='width: 90%'>customized text</textarea>
       <button id='cusTextBtn'>Send customized text</button>
  </div>
  <div id='interval' class='adminCommand'>
      <input id='intervalNum' class='adminCommand' type='number'></input>
      <button id='intervalBtn'>Change Interval</button>
  </div>

  <div class='separator'></div>
  <ul id='control'>
    <p>Hi Googie. How are you?</p>
    <button>Hey Captain</button> <button>Welcome to</button> <button>Googie</button>
    <button>I'm your new art-ificial word speaker today.</button> <button>What's up.</button>

    <div class='separator'>I'm doing good. Googie Googie. Who are you?</div>
    <button>I am the future of virtual assistant</button>
    <button>developed by you Dr. Captain</button> <button>hath developed by thee Dr. Captain</button>

    <div class='separator'>Um... are you human?</div>
    <button>My intelligence is artificial,</button> <button>but I’m really personable.</button>
    <button>mine intelligence is artificial</button> <button>mine I am very much personable</button>

    <div class='separator'>Googie Googie on the wall, can you give me a compliment?</div>
    <button>Dr. Captain is as cunning as Albert Einstein</button>
    <button>aiming to developeth the world best personal assistant</button> <button>Googie</button>
    <button>reinvents the future of interface and wilt nev'r breaketh.</button>

    <div class='separator'>So what are you doing now?</div>
    <button>I'm upgrading my system and</button>
    <button>tyring to boost into the next level of artifacial conversation system</button>
    <button>the next level of artifacial conversation system</button>

    <div class='separator'>Wow, that's fancy, what is it like?</div>
    <button>It means, that I can move</button> <button>t means, that I can moveth!</button><button>t means, that I can moveth!</button>

    <button>Upgrade Complete</button>
    <button>Googie's brain is completely hosted into the cloud.</button>
    <button>Please go to http://206.189.162.188/ to be part of the Googie brain.</button><button>http://206.189.162.188/</button>

    <div class='separator'></div>
    <button>I'm offline. The wifi sucks, please be patient</button>

    <div class='separator'></div>
    <button>I lost my lexicon,</button>
    <button>I cannot find enough words to speak.</button>
    <button>Sorry, I'm dead</button>
  </ul>
</div>

<script type='text/javascript' src='javascripts/admin.js'></script>
