<div id='container' class='admin' style='padding: 10px; background: white; color: black'>
  <!--div id='sessionInstruction' class='adminCommand'>
       <textarea name='message' autocomplete='off' rows='5' style='width: 90%'>session instruction</textarea>
       <p>Session 2: Now give me a short sentence</p>
       <button id='sessionInsBtn'>session instruction</button>
  </div-->
  <div class='adminCommand'>
      <select id='sessionInstruction'>
          <option>Good. So tell me what's your name?(single word)</option>
          <option>How are you doing today?(single word)</option>
          <option>Would you like to say something to Googie?(up to 30 characters)</option>
          <option>What’s the best Wi-Fi name you’ve seen?(up to 30 characters)</option>
          <option>In one sentence, how would you sum up Googie?(up to 30 characters)</option>
          <option>What is the funniest joke you know by heart?(up to 30 characters)</option>
          <option>...oh, jokes are too funny to handle...thanks for participating!</option>
      </select>
      <button id='sessionInsBtn'>session instruction</button>
  </div>
  <div class='adminCommand'>
      <select id='questionFlySelect'>
          <option>good evening</option><option>Hey</option>
          <option>Googie is feeling</option> <option>is a good feeling</option> <option>can be a random emotion</option>
          <option>Hey, good evening</option> <option>I like been given compliment</option><option>thank you</option><option>sorry to hear that</option><option>I am shy</option>
          <option>Googie has strong connections to WiFi</option><option>For example</option><option>I like</option><option>is my best mate</option>
          <option>you know</option><option>I am</option><option>someone tells me that</option>
          <option>let me tell you something</option><option>do you know what</option>
          <option>I lost my lexicon</option><option>Dead</option>
      </select>
      <button id='questionFlySelectBtn'>Question Fly on screen</button>
  </div>
  <div class='separator'></div>
  <div id='questionFly' class='adminCommand'>
       <textarea name='message' autocomplete='off' rows='5' style='width: 90%'>question on screen</textarea>
       <button id='questionFlyBtn'>question fly on screen</button>
  </div>
  <div id='textFly' class='adminCommand'>
       <!--input id='text' autocomplete='off' /-->
       <textarea name='message' autocomplete='off' rows='5' style='width: 90%'>customized text</textarea>
       <button id='textFlyBtn'>Send customized text</button>
  </div>
  <div id='interval' class='adminCommand'>
      <input id='intervalNum' class='adminCommand' type='number' min='100' step='10' value='1000'></input>
      <button id='intervalBtn'>Change Interval</button>
  </div>
  <button id='singleword'>singleword</button>
  <button id='char30'>char30</button>

  <div class='separator'></div>
  <ul id='control'>
    <p>Hi Googie. How are you?</p>
    <button>Hey Stream</button> <button>Welcome to</button> <button>Googie</button>
    <button>I'm your new art-ificial word speaker today.</button> <button>What's up.</button>

    <div class='separator'>I'm doing good. Googie Googie. Who are you?</div>
    <button>I am the future of virtual assistant</button>
    <button>developed by you Stream</button> <button>hath developed by thee Stream</button>

    <div class='separator'>Um... are you human?</div>
    <button>My intelligence is artificial,</button> <button>but I’m really personable.</button>
    <button>mine intelligence is artificial</button> <button>mine I am very much personable</button>

    <div class='separator'>Googie Googie on the wall, can you give me a compliment?</div>
    <button>Stream is as cunning as Albert Einstein</button>
    <button>aiming to developeth the world best personal assistant</button> <button>Googie</button>
    <button>reinvents the future of interface and wilt nev'r breaketh.</button>

    <div class='separator'>So what are you doing now?</div>
    <button>I'm upgrading my system and</button>
    <button>tyring to boost into the next level of artifacial conversation system</button>
    <button>the next level of artifacial conversation system</button>

    <div class='separator'>Wow, that's fancy, what is it like?</div>
    <button>It means, that I can move</button> <button>t means, that I can moveth!</button><button>t means, that I can moveth!</button>

    <button>Upgrade Complete</button>
    <button>Googie's brain is completely hosted into the cloud.</button>
    <button>Please go to http://206.189.162.188/ to be part of the Googie brain.</button><button>http://206.189.162.188/</button>

    <div class='separator'></div>
    <button>I'm offline. The wifi sucks, please be patient</button>

    <div class='separator'></div>
    <button>I lost my lexicon,</button>
    <button>I cannot find enough words to speak.</button>
    <button>Sorry, I'm dead</button>
  </ul>
</div>

<script type='text/javascript' src='javascripts/admin.js'></script>
