<div id='container' class='darkTheme'>
  <ul id='sequence'>
      <li>
          <div>
            <div>
                <h2 class='sequence'>Welcome to</h2>
                <h1 class='sequence' style='padding: 10px 0;'>Googie</h1>
                <h2 class='sequence'>the art ificial word speaker</h2>
                <p style='padding-top: 5px'>🔈🔈🔈</p>
            </div>
            <div class='nextArrow'>
                <i class='down'></i>
            </div>
          </div>
      </li>
      <li>
          <div>
            <div>
                <h2>Googie's training dataset comes from a highly demanding exclusive pool.</h2> 😎
                <h2>I'm glad to inform you that you are selected to be part of it.</h2>
            </div>
            <div class='nextArrow'>
                <i class='down'></i>
            </div>
          </div>
      </li>
      <li id='sessionCommandList'>
          <div>
            <div id='sessionCommand'>
                <h1>Now</h1><br>
                <h1>Let's get some warm up</h1><br>
                <h2>Rules: one word only, no space, no special characters.</h2>
                <h2>(Please do not try to hack the system, the code is fragile)</h2>
            </div>
            <div class='nextArrow'>
                <i class='down'></i>
            </div>
          </div>
      </li>
      <li id='inputList'>
          <div id='input'>
              <div id='instructionInInput'>one word only, no space, no special characters</div>
              <div id='wordinput'>
                   <input id='word' autocomplete='off' />
                   <button id='sendButton'>Send</button>
              </div>
          </div>
      </li>
  </ul>
</div>

<script type='text/javascript' src='javascripts/indexClient.js'></script>
