<div id='container'>
	<h1>Hey! This is {{title}}.</h1>
  <h2 id='command'>Please wait for the comming instructions</h2>
	<p>Rules: one word only, no space, no special characters.</p>
	<form id="wordinput">
	     <input id="word" autocomplete="off" />
	     <button type="submit" id="button">Send</button>
  </form>
</div>


<script type="text/javascript">
   const NON_SPACE_SPECIALCHA=/\d|\W/g;
   const COMMAND1 = '-----command1-----';
   const COMMAND2 = '-----command2-----';
   const COMMAND3 = '-----command3-----';
   const COMMAND4 = '-----command4-----';
   const hostlight = '192.168.0.12:8080';
   const socket= new WebSocket('ws://' + hostlight);
   socket.onopen = function() {
       document.getElementById("wordinput").addEventListener("submit", function(e){
           e.preventDefault();
           const inputVal = document.getElementById("word").value;
           console.log('.input', inputVal);
           if (inputVal.match(NON_SPACE_SPECIALCHA)) {
               window.alert('the word cannot contain any number or mark.\nPlease submit a valid word!');
               document.getElementById("word").value = '';
               return false;
           } else {
               socket.send(inputVal);
           }
           return false;
       }, false);
   };
   socket.onmessage = function (evt) {
       console.log('on mess', evt.data);
       if (evt.data.startsWith('-----')) {
           console.log('----------on mess----------', evt.data);
           if (evt.data === COMMAND1) {
               document.getElementById('command').innerHTML = 'First, I need you to send me an adjective!';
           } else if (evt.data === COMMAND2) {
               document.getElementById('command').innerHTML = 'Great! Now give me a noun.';
           } else if (evt.data === COMMAND3) {
               document.getElementById('command').innerHTML = 'Awesome job! Now just a random word!';
           } else if (evt.data === COMMAND4) {
               document.getElementById('command').innerHTML = 'You are done, thank you!<from Stream and Yao>';
           }
       }
   };
   socket.onclose = function() {
       console.log("Connection is closed...");
   };
</script>
