<div id='container'>
  <ul id='sequence'>
      <li>
          <div>
            <h2 class="sequence">Welcome to</h2>
            <h1 class="sequence" style="padding: 10px 0;">Googie</h1>
            <h2 class="sequence">the art ificial word speaker</h2>
            <div class="nextArrow">
                <i class="down"></i>
            </div>
          </div>
      </li>
      <li>
          <div>
            <h1>Please wait for the comming instructions</h1>
            <div class="nextArrow">
                <i class="down"></i>
            </div>
          </div>
      </li>
      <li>
          <div id="sessionCommand">
            <h1>Now Begin</h1><br>
            <h3>Session 1</h3>
            <h3>Rules: one word only, no space, no special characters.</h3>
            <div class="nextArrow">
                <i class="down"></i>
            </div>
          <div>
      </li>
      <li>
          <div id="input">
              <form id="wordinput">
                   <input id="word" autocomplete="off" />
                   <button type="submit" id="button">Send</button>
              </form>
          </div>
      </li>
  </ul>
</div>

<script type="text/javascript" src="javascripts/indexClient.js" ></script>
